.info-container {
    width: 90vw;
    position: absolute;
    left: 5vw;
    top: 30vh;
    display: flex;
    height: 80vh;
}

.class-box {
    background-color: #1e1e1e;
    min-width: 15em;
    width: 17vw;
    padding: 5px;
    padding-left: 15px;
    color: white;
    position: relative;
    border-radius: 2em;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.class-box:hover {
    background-color: #2e2e2e;
}

.class-schedule-title {
    background-color: #242424;
    font-weight: bold;
    font-size: 2em;
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-align: center;
    position: absolute;
    width: 20vw;
    left: 0;
    top: 0;
    z-index: 10;
}

.class-schedule {
    font-size: 1em;
    background-color: #383838;
    border-radius: 2em;
    width: 19.9vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    top: 4em;
    padding: 1vw;
    padding-top: 3em;
}

.class-period {
    font-weight: bold;
}

.class-title {
    margin-top: 15px;
    font-size: 1.2em;
    margin-bottom: 0px;
}

.class-time {
    position: absolute;
    bottom: 0.5em;
    font-size: 0.9em;
    right: 1em;
    text-align: right;
    color: #c7c7c7;
}

.class-teacher {
    margin-top: 0px;
    font-size: 0.9em;
    margin-bottom: 0px;
    color: #c7c7c7;
}

.class-room {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 0.9em;
    color: #c7c7c7;
}

.reminders {
    width: 60vw;
    height: 64vh;
    margin-left: 3vw;
    margin-top: 6em;
    background-color: #383838;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.reminders-title {
    width: 56vw;
    height: 3em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    position: absolute;
    z-index: 10;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2em;
    font-weight: bold;
    left: 25vw;
    background-color: #1e1e1e;
}

.reminder-card {
    background-color: white;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-right: 1vw;
    padding: 0.5vw;
    padding-left: 1.5vw;
    border-radius: 1vw;
    color: black;
    position: relative;
}

.reminder-card-title {
    font-size: 2vw;
    font-weight: bold;
    margin-top: 0;
    max-width: 45vw;
    margin-bottom: 0;
}

.reminder-card-tag {
    background-color: greenyellow;
    border-radius: 100vw;
    display: inline-block;
    max-width: 8vw;
    white-space: nowrap;
    height: 1.5vw;
    margin-top: 1vh;
    margin-right: 0.5vw;
    padding: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.reminder-card-description {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.reminder-card-resource {
    color: blue;
    margin-top: 0;
    margin-bottom: 1vh;
    cursor: pointer;
    text-decoration: underline;
}

.reminders-add {
    background-color: #0d0d0d;
    border: 0;
    outline: none;
    width: 1vw;
    position: absolute;
    top: 2.5vh;
    color: white;
    width: 12vw;
    height: 4vw;
    right: 1vw;
    font-size: 1vw;
    border-radius: 1vw;
    text-align: right;
    padding: 0.75vw;
    font-size: 1.2vw;
    cursor: pointer;
    transition-duration: 0.1s;
}

.reminders-add:hover {
    background-color: #383838;
}

.reminders-add > img {
    width: 2vw;
    position: absolute;
    top: 50%;
    left: 0.75vw;
    transform: translateY(-50%);
}

.reminder-card-edit {
    width: 2vw;
    cursor: pointer;
}

.reminder-card-check {
    width: 2vw;
    cursor: pointer;
}

.reminder-card-trash {
    width: 2vw;
    cursor: pointer;
}

.reminder-card-date {
    position: absolute;
    top: 2vh;
    right: 2vw;
    text-align: right;
}

.reminder-card-timeleft {
    position: absolute;
    top: 5vh;
    right: 2vw;
    text-align: right;
}

.screen-darken {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: none;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 255;
    visibility: hidden;
}

.new-reminder-box {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    width: 30vw;
    height: 80vh;
    z-index: 256;
    border-radius: 2vw;
}

.new-reminder-box-title {
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 2.5vw;
    margin-bottom: 2vh;
}

.new-reminder-box-input-label {
    color: white;
    margin-left: 4vw;
}

.new-reminder-box-input-oneline {
    width: 70%;
    height: 1em;
    padding: 0.4vw;
    margin-left: 15%;
    outline: none;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.new-reminder-box-input-multiline {
    width: 70%;
    height: 5em;
    padding: 0.4vw;
    margin-left: 15%;
    outline: none;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.new-reminder-box-input-datetime {
    width: 70%;
    height: 1em;
    padding: 0.4vw;
    margin-left: 15%;
    outline: none;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.new-reminder-selected-tags {
    display: flex;
    width: 70%;
    padding: 0.4vw;
    overflow-y: scroll;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 2vh;
    max-height: 6vh;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 0.5vw;
    height: auto;
}

.new-reminder-tag {
    background-color: greenyellow;
    border-radius: 100vw;
    max-width: 5vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    inline-size: 100vw;
    margin-top: 1vh;
    padding: 5px;
    overflow: hidden;
    margin-left: 0.5vw;
    color: black;
    text-align: center;
    position: relative;
}

.new-reminder-tag-selector {
    display: grid;
    position: absolute;
    width: 10vw;
    max-height: 35vh;
    left: -20%;
    bottom: 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
    background-color: white;
}

.new-reminder-cancel {
    position: absolute;
    top: 1vw;
    left: 1vw;
    font-size: 1.5vw;
    opacity: 0.3;
    background-color: #ffffff00;
    border: 0;
    outline: none;
    color: white;
    cursor: pointer;
}

.new-reminder-cancel:hover {
    opacity: 0.5;
}

.new-reminder-tag-selector > a {
    color: white;
    width: 10vw;
    height: 4vh;
    background-color: #0d0d0d;
    padding: 1vw;
    cursor: pointer;
}
.new-reminder-tag-delete {
    width: 1.2vw;
    height: 1.2vw;
    color: white;
    padding-right: 0.9vw;
    border-radius: 1vw;
    background-color: #999999;
    opacity: 0.6;
    border: 0;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5vw;
    cursor: pointer;
}

.new-reminder-tag-delete:hover {
    opacity: 1.0;
}

.new-reminder-tag-indicator {
    width: 0.5vw;
    height: 0.5vw;
    background-color: red;
    border-radius: 100%;
    margin-right: 0.5vw;
    display: inline-block;
}

.new-reminder-addtag-button {
    background-color: #393939;
    width: 7vw;
    text-align: center;
    padding-top: 1vh;
    height: 4.5vh;
    border-radius: 4vw;
    position: absolute;
    left: 4vw;
    z-index: -1;
    cursor: pointer;
    bottom: 4vh;
}

.new-reminder-tag-selector > a:hover {
    background-color: #1e1e1e;
}

.new-reminder-create-button {
    position: absolute;
    bottom: 1.5vw;
    right: 4vw;
    background-color: #696969;
    color: white;
    outline: none;
    border: 0;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    font-size: 2vw;
    cursor: pointer;
    opacity: 0.8;
}

.new-reminder-create-button:hover {
    opacity: 1.0;
}