.integrations-container {
    width: 75vw;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 12.5vw;
    top: 30vh;
    text-align: center;
}

.integration-button {
    background: linear-gradient(45deg, rgba(83,172,230,0.5) 0%, rgba(91,46,241,0.5) 47%, rgba(145,0,255,0.5) 100%);
    width: 30vh;
    height: 30vh;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 7vh;
    margin-bottom: 10px;
    transition-duration: 0.1s;
}

.integration-button:hover{
    background: linear-gradient(45deg, rgba(83,172,230,1) 0%, rgba(91,46,241,1) 47%, rgba(145,0,255,1) 100%);
}